__pycache__
*.pyc
.idea
.vscode
.DS_Store

venv/
venvpypy/
mid/generated/
mid/open-wikifonia-leadsheets
mid/owld-midi
/mid/nottingham/

output_*.dot
error.log
/query_output/graphs/
/query_output/rankings/
*.stats
/mid/wikifonia-midi/
/mid/queries/
/mid/Wikifonia/

.ipynb_checkpoints/demo-checkpoint.ipynb
/mid/kmeans_test/
